@import url("https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css");

#main {
    min-height: 300px;
}

h1 {
    border-bottom: 1px solid #000;
}

#content {
    margin-top: 20px;
}

button {
    padding: 5px 8px;
    color: #fff;
    background: #427eb9;
    border: none;
    cursor: pointer;
}

/* Loader */
#loadingMessage {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #b1b1b1;
}

#loader {
    display: inline-block;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}