@import url("https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css");

#main {
    min-height: 460px;
}

h1 {
    border-bottom: 1px solid #000;
}

h4 {
    margin-bottom: 0;
}

#note {
    font-size: 15px;
}

#content {
    margin-top: 10px;
}

form {
    margin: 20px auto;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

#searchBox,
#btnGo {
    padding: 8px;
    font-size: 15px;
}

#searchBox {
    margin-bottom: 10px;
    width: calc(100% - 40px);
    border: 1px solid #c9c9c9;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#searchBox:focus {
    box-sizing: border-box;
    outline: none;
    border-color: #427eb9;
}

#btnGo {
    position: relative;
    margin-left: -5px;
    width: 40px;
    border: 1px solid #427eb9;
    background: #427eb9;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Search Icon */
#btnGo:before {
    content: "";
    position: absolute;
    top: 8px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-image: url(searchIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

form label:nth-of-type(-n+2) {
    margin-right: 25px;
}

button {
    color: #fff;
    background: #3987ad;
    border: none;
    cursor: pointer;
}

.tools {
    margin-top: 10px;
    text-align: left;
}

.tools button:first-child {
    margin-right: 10px;
}

.tools button {
    padding: 5px 15px;
    letter-spacing: .5px;
    border-radius: 3px;
    text-transform: uppercase;
}

ul {
    margin-top: 10px;
    padding-left: 0;
    list-style-type: none;
}

ul li {
    padding: 10px;
    background: #dddddd;
    border-bottom: 1px solid #8d8d8d;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    font-size: 20px;
    border-bottom: none;
}

ul li a:hover {
    color: #2d5d94;
    border-bottom: 2px solid #2d5d94;
}

ul li .path {
    margin-left: 10px;
    font-size: 14px;
    color: #646464;
}

ul li p {
    margin-top: 5px;
    padding: 10px;
    background: #f4f4f4;
}

.highlight {
    background: #fdf404;
}

/* Loader */
#loadingMessage {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #b1b1b1;
}

#loader {
    display: inline-block;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}