/********************************************************
    The purpose of course.css is to house only the css
    specific to an individual course. The online.css
    houses all the default template formatting.
********************************************************/


/* DO NOT DELETE OR MODIFY THIS IMPORT */

@import url("https://content.byui.edu/integ/gen/599082e0-3e89-4fd9-ac69-2615865d63c7/0/online.css");

/* Adjust/Add Course Specific css Below */

#main {
    min-height: 460px;
}

h1 {
    border-bottom: 1px solid #000;
}

#content {
    margin-top: 20px;
}

input {
    margin-bottom: 8px;
    padding: 4px;
}

form input[type="checkbox"] {
    margin-right: 8px;
}

button {
    padding: 5px 8px;
    color: #fff;
    background: #427eb9;
    border: none;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
}

ul li {
    padding: 10px;
    background: #dddddd;
    border-bottom: 1px solid #8d8d8d;
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    font-size: 20px;
    border-bottom: none;
}

ul li a:hover {
    color: #2d5d94;
    border-bottom: 2px solid #2d5d94;
}

ul li .path {
    margin-left: 10px;
    font-size: 14px;
    color: #646464;
}

ul li p {
    margin-top: 5px;
    padding: 10px;
    background: #f4f4f4;
}

.highlight {
    background: #fdf404;
}

/* Loader */
#loadingMessage {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #b1b1b1;
}

#loader {
    display: inline-block;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}